version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5430:5432" # host (localhost), access the server here:inside the container where the Postgres listens.
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build: .
    ports:
      - "${APP_PORT}:8080"
    environment:
      - DB_HOST=postgres # Since its on a docker, you can connect the db to its service, if you want to run locally, use localhost:5432 to connect to db
      - DB_PORT=${DB_PORT}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - WEATHER_API_KEY=${WEATHER_API_KEY}
      - APP_PORT=${APP_PORT} # Matching the expose in Dockerfile
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - .:/app
      - /app/.git

  # Scheduler to run sync all every time frame. 
  scheduler:
    build: .
    environment:
      - DB_HOST=postgres
      - DB_PORT=${DB_PORT}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - WEATHER_API_KEY=${WEATHER_API_KEY}
    command: ["go", "run", "cmd/scheduler/main.go"]
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - .:/app
      - /app/.git

volumes:
  postgres_data: